/***** BASE STYLES *****/
body {
  font-family: 'Encode Sans', sans-serif;
}

section h2 {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  color: #fa0075;
  height: 150px;
  margin: auto;
}



/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  margin: 0 auto;
  float: left;
}

.third-width {
  width: 400px;
  margin: 0 auto;
  float: left;
}

/***** HEADER *****/

header {
  height: 800px;
  background-image: url('../img/mac-background.jpg');
  background-size: cover;
  color: #b4b2af;
}

header h1 {
  font-size: 30px;
}

header h2 {
  font-size: 72px;
  font-family: 'Source Code Pro', monospace;
  float: left;
  padding-left: 1em;
}

header h2 span {
  color: #fa0075;
}

header nav {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: lowercase;
  text-decoration: none;
  font-size: 30px;
  padding-left: 45px;
  color: #b4b2af;
}

/***** PORTFOLIO *****/

#portfolio {
  height: 1550px;
  background-color: #000000;
  color: #b4b2af;
}

#portfolio h3 {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: bold;
}

#portfolio h4 {
  font-family: 'Encode Sans Expanded', sans-serif;
}

#portfolio p {
  line-height: 1.6;
  font-weight: bolder;
}

article {
  height: 450px;
  margin: auto;
}

#rogue-right {
  padding-top: 75px;
}

#jub-left {
  text-align: right;
  box-sizing: border-box;
  padding-top: 75px;
  padding-right: 50px;
}

#rec-right {
  padding-top: 30px;
}

 #rogue-img {
  margin-top: 30px;
  border: 3px solid #fa0075;
}

#jub-img {
  margin-top: 30px;
  border: 3px solid #fa0075;
}

#rec-img {
  margin-top: 30px;
  border: 3px solid #fa0075;
}

/***** ABOUT *****/

#about {
  height: 550px;
  background-color: #b4b2af;
  color: #000000;
  font-family: 'Encode Sans Expanded', sans-serif;
}

#about h2 {
  padding-top: 50px;
  height: 100px;
  font-weight: 600;
}

#about-img {
  margin-top: 10px;
  margin-left: 250px;
}

#about-left {
  padding-left: 50px;
  box-sizing: border-box;
  line-height: 1.6;
}

#about p {
  font-weight: 500;
}

figcaption {
  text-align: center;
  padding-left: 190px;
}

figure {
  margin: auto;
}

/***** FOOTER *****/

footer {
  height: 400px;
  background-color: #000000;
  color: #b4b2af;
}

footer h2 {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  color: #fa0075;
  height: 150px;
  margin: auto;
}

#footer h2 {
  padding-top: 50px;
}

#footer {
  text-align: center;
}

#hire-me a {
  color: #fa0075;
}

#follow-me ul {
  padding-left: 0px;
}

#twit-link {
  padding-left: 0px;
}

#follow-me img {
  background-color: #000000;
}
